@model MoviePro.Models.User

@{
    ViewData["Title"] = "Create";
}
<br />
<h2><b>Create Account</b></h2>
<br />
<div class="login-form">
    <div class="col-md-4">
        <form method="post" asp-controller="Users" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="signin-rit">
                <span class="agree-checkbox">
                    <label class="checkbox"><input type="checkbox" name="checkbox">I agree to your <a class="w3layouts-t" href="#" target="_blank">Terms of Use</a> and <a class="w3layouts-t" href="#" target="_blank">Privacy Policy</a></label>
                </span>
                <h5>Already a member? <a method="post" asp-controller="Users" asp-action="Login">Sign In</a></h5>
            </div>
            <div class="tp">
                <input type="submit" value="REGISTER NOW">
            </div>
            <br />
        </form>
    </div>
</div>
<br />
<hr />
